In [67]:
import pandas as pd

import plotly.graph_objects as go
import plotly.express as px
import plotly.io as pio
from urllib.request import urlopen
import json

In [110]:
df = pd.read_csv("../data/emissions_clean.csv")
pop_df= pd.read_csv("../data/FAOSTAT_Population.csv")

In [113]:
pop_df = pop_df[["Area","Value"]]

In [69]:
with open("../data/countries.geojson") as response:
    countries = json.load(response)

In [114]:
p = list(pop_df.Area.unique())

In [70]:
c = list(df.Area.unique())

In [71]:
jc = []
for feature in countries['features']:
    jc.append(feature['properties']['ADMIN'])

In [115]:
result_p = []

for item in p:
    if item not in jc:
        result_p.append(item)
        
print(result_p)

['Bahamas', 'Bolivia (Plurinational State of)', 'Bonaire, Sint Eustatius and Saba', 'Brunei Darussalam', 'Cabo Verde', 'China, Hong Kong SAR', 'China, Macao SAR', 'China, mainland', 'China, Taiwan Province of', 'Congo', "Côte d'Ivoire", 'Czechia', "Democratic People's Republic of Korea", 'Eswatini', 'Falkland Islands (Malvinas)', 'French Guyana', 'Guadeloupe', 'Guinea-Bissau', 'Holy See', 'Iran (Islamic Republic of)', "Lao People's Democratic Republic", 'Martinique', 'Mayotte', 'Micronesia (Federated States of)', 'North Macedonia', 'Republic of Korea', 'Republic of Moldova', 'Réunion', 'Russian Federation', 'Saint Barthélemy', 'Saint Helena, Ascension and Tristan da Cunha', 'Saint-Martin (French part)', 'Serbia', 'Sint Maarten (Dutch part)', 'Syrian Arab Republic', 'Timor-Leste', 'Tokelau', 'Türkiye', 'United Kingdom of Great Britain and Northern Ireland', 'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Wallis and Futuna Islands']

In [72]:
result_c = []

for item in c:
    if item not in jc:
        result_c.append(item)
        
print(result_c)

['Bahamas', 'Belgium-Luxembourg', 'Bolivia (Plurinational State of)', 'Brunei Darussalam', 'Cabo Verde', 'Channel Islands', 'China, Hong Kong SAR', 'China, Macao SAR', 'China, mainland', 'China, Taiwan Province of', 'Congo', "Côte d'Ivoire", 'Czechia', 'Czechoslovakia', "Democratic People's Republic of Korea", 'Eswatini', 'Ethiopia PDR', 'Falkland Islands (Malvinas)', 'French Guyana', 'Guadeloupe', 'Guinea-Bissau', 'Holy See', 'Iran (Islamic Republic of)', "Lao People's Democratic Republic", 'Martinique', 'Mayotte', 'Micronesia (Federated States of)', 'Netherlands Antilles (former)', 'North Macedonia', 'Pacific Islands Trust Territory', 'Pitcairn', 'Republic of Korea', 'Republic of Moldova', 'Réunion', 'Russian Federation', 'Saint Helena, Ascension and Tristan da Cunha', 'Serbia', 'Serbia and Montenegro', 'Sudan (former)', 'Svalbard and Jan Mayen Islands', 'Syrian Arab Republic', 'Timor-Leste', 'Tokelau', 'Türkiye', 'United Kingdom of Great Britain and Northern Ireland', 'USSR', 'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Wallis and Futuna Islands', 'Yugoslav SFR', 'World', 'Africa', 'Eastern Africa', 'Middle Africa', 'Northern Africa', 'Southern Africa', 'Western Africa', 'Americas', 'Northern America', 'Central America', 'Caribbean', 'South America', 'Asia', 'Central Asia', 'Eastern Asia', 'Southern Asia', 'South-eastern Asia', 'Western Asia', 'Europe', 'Eastern Europe', 'Northern Europe', 'Southern Europe', 'Western Europe', 'Oceania', 'Australia and New Zealand', 'Melanesia', 'Micronesia', 'Polynesia', 'European Union (27)', 'Least Developed Countries', 'Land Locked Developing Countries', 'Small Island Developing States', 'Low Income Food Deficit Countries', 'Net Food Importing Developing Countries', 'Annex I countries', 'Non-Annex I countries', 'OECD']

In [73]:
result_jc = []

for item in jc:
    if item not in c:
        result_jc.append(item)
        
print(result_jc)

['Aland', 'Antarctica', 'Ashmore and Cartier Islands', 'French Southern and Antarctic Lands', 'The Bahamas', 'Bajo Nuevo Bank (Petrel Is.)', 'Saint Barthelemy', 'Bolivia', 'Brunei', 'Ivory Coast', 'Clipperton Island', 'Cyprus No Mans Area', 'Republic of Congo', 'Cape Verde', 'Coral Sea Islands', 'Curaçao', 'Northern Cyprus', 'Czech Republic', 'Dhekelia Sovereign Base Area', 'Falkland Islands', 'Federated States of Micronesia', 'United Kingdom', 'Guernsey', 'Guinea Bissau', 'Hong Kong S.A.R.', 'Heard Island and McDonald Islands', 'Indian Ocean Territories', 'British Indian Ocean Territory', 'Iran', 'Jersey', 'Baykonur Cosmodrome', 'Siachen Glacier', 'South Korea', 'Kosovo', 'Laos', 'Macao S.A.R', 'Saint Martin', 'Moldova', 'Macedonia', 'Pitcairn Islands', 'Spratly Islands', 'North Korea', 'Russia', 'Scarborough Reef', 'Serranilla Bank', 'South Georgia and South Sandwich Islands', 'Saint Helena', 'Somaliland', 'Republic of Serbia', 'Swaziland', 'Sint Maarten', 'Syria', 'East Timor', 'Turkey', 'Taiwan', 'United States Minor Outlying Islands', 'US Naval Base Guantanamo Bay', 'Vatican', 'Venezuela', 'Vietnam', 'Wallis and Futuna', 'Akrotiri Sovereign Base Area']

In [120]:
countries_dict = {
    'Bahamas' : 'The Bahamas',
    'Bolivia (Plurinational State of)':'Bolivia',
    'Brunei Darussalam':'Brunei',
    'Cabo Verde':'Cape Verde',
    'China, Hong Kong SAR':'Hong Kong S.A.R.',
    'China, Macao SAR':'Macao S.A.R',
    'China, Taiwan Province of':'Taiwan',
    'Congo':'Republic of Congo',
    "Côte d'Ivoire":'Ivory Coast',
    'Czechia':'Czech Republic',
    "Democratic People's Republic of Korea":'North Korea',
    'Eswatini':'Swaziland',
    'Republic of Korea':'South Korea',
    'Falkland Islands (Malvinas)':'Falkland Islands',
    'Guinea-Bissau':'Guinea Bissau',
    'Iran (Islamic Republic of)':'Iran',
    "Lao People's Democratic Republic":'Laos',
    'North Macedonia':'Macedonia',
    'Republic of Moldova':'Moldova',
    'Serbia':'Republic of Serbia',
    'Serbia and Montenegro':'Kosovo',
    'South Georgia and the South Sandwich Islands':'South Georgia and South Sandwich Islands',
    'Sudan (former)':'Somaliland',
    'Syrian Arab Republic':'Syria',
    'Timor-Leste':'East Timor',
    'Türkiye':'Turkey',
    'United Kingdom of Great Britain and Northern Ireland':'United Kingdom',
    'Russian Federation':'Russia',
    'Venezuela (Bolivarian Republic of)':'Venezuela',
    'Viet Nam':'Vietnam',
    'Wallis and Futuna Islands':'Wallis and Futuna',    
}

In [122]:
pop_df2 = pop_df.copy()
pop_df2.Area = pop_df2.Area.replace(countries_dict)

In [123]:
df2 = df.copy()
df2.Area = df2.Area.replace(countries_dict)

In [163]:
p2 = list(pop_df2.Area.unique())

In [125]:
result_p2 = []

for item in p2:
    if item not in jc:
        result_p2.append(item)
        
print(result_p2)

['Bonaire, Sint Eustatius and Saba', 'China, mainland', 'French Guyana', 'Guadeloupe', 'Holy See', 'Martinique', 'Mayotte', 'Micronesia (Federated States of)', 'Réunion', 'Saint Barthélemy', 'Saint Helena, Ascension and Tristan da Cunha', 'Saint-Martin (French part)', 'Sint Maarten (Dutch part)', 'Tokelau']

In [126]:
result_jc = []

for item in jc:
    if item not in c:
        result_jc.append(item)
        
print(result_jc)

['Aland', 'Antarctica', 'Ashmore and Cartier Islands', 'French Southern and Antarctic Lands', 'Bajo Nuevo Bank (Petrel Is.)', 'Saint Barthelemy', 'Clipperton Island', 'Cyprus No Mans Area', 'Coral Sea Islands', 'Curaçao', 'Northern Cyprus', 'Dhekelia Sovereign Base Area', 'Federated States of Micronesia', 'Guernsey', 'Heard Island and McDonald Islands', 'Indian Ocean Territories', 'British Indian Ocean Territory', 'Jersey', 'Baykonur Cosmodrome', 'Siachen Glacier', 'Saint Martin', 'Pitcairn Islands', 'Spratly Islands', 'Scarborough Reef', 'Serranilla Bank', 'South Georgia and South Sandwich Islands', 'Saint Helena', 'Sint Maarten', 'United States Minor Outlying Islands', 'US Naval Base Guantanamo Bay', 'Vatican', 'Akrotiri Sovereign Base Area']

In [86]:
drop_list=['Belgium-Luxembourg', 'Channel Islands', 'China, mainland', 'Czechoslovakia', 'Ethiopia PDR', 'French Guyana', 'Guadeloupe', 'Holy See', 'Martinique', 'Mayotte', 'Micronesia (Federated States of)', 'Netherlands Antilles (former)', 'Pacific Islands Trust Territory', 'Pitcairn', 'Réunion', 'Russian Federation', 'Saint Helena, Ascension and Tristan da Cunha', 'Svalbard and Jan Mayen Islands', 'Tokelau', 'Yugoslav SFR', 'World', 'Africa', 'Eastern Africa', 'Middle Africa', 'Northern Africa', 'Southern Africa', 'Western Africa', 'Americas', 'Northern America', 'Central America', 'Caribbean', 'South America', 'Asia', 'Central Asia', 'Eastern Asia', 'Southern Asia', 'South-eastern Asia', 'Western Asia', 'Europe', 'Eastern Europe', 'Northern Europe', 'Southern Europe', 'Western Europe', 'Oceania', 'Australia and New Zealand', 'Melanesia', 'Micronesia', 'Polynesia', 'European Union (27)', 'Least Developed Countries', 'Land Locked Developing Countries', 'Small Island Developing States', 'Low Income Food Deficit Countries', 'Net Food Importing Developing Countries', 'Annex I countries', 'Non-Annex I countries', 'OECD']

In [88]:
df2 = df2[~df2['Area'].isin(drop_list)]
df2.head()

,index,Unnamed: 0,Area,Item Code,Item,Element,Unit,1961,1962,1963,...,2014,2015,2016,2017,2018,2019,2020,2021,2030,2050
5,5,218,Afghanistan,6829,All sectors without LULUCF,Emissions (CH4),kilotonnes,NaN,NaN,NaN,...,663.5479,634.5774,629.3893,624.3983,635.7765,638.0114,662.7644,NaN,516.8208,683.7073
6,6,219,Afghanistan,6829,All sectors without LULUCF,Emissions (N2O),kilotonnes,NaN,NaN,NaN,...,17.3372,17.2410,17.0810,17.9014,15.9129,15.9893,16.7350,NaN,18.5334,25.7772
7,7,220,Afghanistan,6829,All sectors without LULUCF,Emissions (CO2),kilotonnes,NaN,NaN,NaN,...,8100.0000,8184.0000,7040.0000,8201.0000,8686.0000,9476.0000,9438.0000,NaN,NaN,NaN
13,13,456,Albania,6829,All sectors without LULUCF,Emissions (CH4),kilotonnes,NaN,NaN,NaN,...,111.0515,112.0823,110.8048,109.8904,108.9309,102.2242,96.1403,NaN,101.1806,100.4891
14,14,457,Albania,6829,All sectors without LULUCF,Emissions (N2O),kilotonnes,NaN,NaN,NaN,...,4.0313,4.1634,4.2654,4.1713,3.7917,3.8674,3.5566,NaN,3.6235,3.6937

In [187]:
df2.loc[df2['Area']=="Russia"]

,Unnamed: 0,Area,Item Code,Item,Element,Unit,1961,1962,1963,1964,...,2014,2015,2016,2017,2018,2019,2020,2021,2030,2050
1486,37899,Russia,6829,All sectors without LULUCF,Emissions (CH4),kilotonnes,NaN,NaN,NaN,NaN,...,1.516742e+04,1.531592e+04,1.547941e+04,1.595004e+04,1.626005e+04,1.642796e+04,1.586499e+04,NaN,2438.6864,2475.0284
1487,37900,Russia,6829,All sectors without LULUCF,Emissions (N2O),kilotonnes,NaN,NaN,NaN,NaN,...,2.727996e+02,2.756863e+02,2.787088e+02,2.817564e+02,2.822275e+02,2.917547e+02,3.018546e+02,NaN,105.3639,110.3072
1488,37901,Russia,6829,All sectors without LULUCF,Emissions (CO2),kilotonnes,NaN,NaN,NaN,NaN,...,1.829700e+06,1.818200e+06,1.857200e+06,1.841700e+06,1.913200e+06,1.896300e+06,1.802000e+06,NaN,NaN,NaN

In [89]:
df2.Item.unique()

array(['All sectors without LULUCF'], dtype=object)

In [164]:
df2.drop(df2[df2['Item'] != 'All sectors without LULUCF'].index, inplace = True)
df2.Area.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'The Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belgium-Luxembourg', 'Belize', 'Benin', 'Bermuda',
       'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'British Virgin Islands', 'Brunei', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cape Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Channel Islands', 'Chile', 'China', 'Hong Kong S.A.R.',
       'Macao S.A.R', 'China, mainland', 'Taiwan', 'Colombia', 'Comoros',
       'Republic of Congo', 'Cook Islands', 'Costa Rica', 'Ivory Coast',
       'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Czechoslovakia',
       'North Korea', 'Democratic Republic of the Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Swaziland', 'Ethiopia', 'Ethiopia PDR', 'Falkland Islands',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guyana',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guinea', 'Guinea Bissau',
       'Guyana', 'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland',
       'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique',
       'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'Netherlands Antilles (former)', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norfolk Island',
       'Macedonia', 'Northern Mariana Islands', 'Norway', 'Oman',
       'Pacific Islands Trust Territory', 'Pakistan', 'Palau',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico',
       'Qatar', 'South Korea', 'Moldova', 'Réunion', 'Romania', 'Russia',
       'Rwanda', 'Saint Helena, Ascension and Tristan da Cunha',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Republic of Serbia', 'Kosovo', 'Seychelles',
       'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Somaliland', 'Suriname',
       'Svalbard and Jan Mayen Islands', 'Sweden', 'Switzerland', 'Syria',
       'Tajikistan', 'Thailand', 'East Timor', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom',
       'United Republic of Tanzania', 'United States of America',
       'United States Virgin Islands', 'Uruguay', 'USSR', 'Uzbekistan',
       'Vanuatu', 'Venezuela', 'Vietnam', 'Wallis and Futuna',
       'Western Sahara', 'Yemen', 'Yugoslav SFR', 'Zambia', 'Zimbabwe',
       'World', 'Africa', 'Eastern Africa', 'Middle Africa',
       'Northern Africa', 'Southern Africa', 'Western Africa', 'Americas',
       'Northern America', 'Central America', 'Caribbean',
       'South America', 'Asia', 'Central Asia', 'Eastern Asia',
       'Southern Asia', 'South-eastern Asia', 'Western Asia', 'Europe',
       'Eastern Europe', 'Northern Europe', 'Southern Europe',
       'Western Europe', 'Oceania', 'Australia and New Zealand',
       'Melanesia', 'Micronesia', 'Polynesia', 'European Union (27)',
       'Least Developed Countries', 'Land Locked Developing Countries',
       'Small Island Developing States',
       'Low Income Food Deficit Countries',
       'Net Food Importing Developing Countries', 'Annex I countries',
       'Non-Annex I countries', 'OECD'], dtype=object)

In [188]:
df2.loc[df2['Area']=="Russia"]

,Unnamed: 0,Area,Item Code,Item,Element,Unit,1961,1962,1963,1964,...,2014,2015,2016,2017,2018,2019,2020,2021,2030,2050
1486,37899,Russia,6829,All sectors without LULUCF,Emissions (CH4),kilotonnes,NaN,NaN,NaN,NaN,...,1.516742e+04,1.531592e+04,1.547941e+04,1.595004e+04,1.626005e+04,1.642796e+04,1.586499e+04,NaN,2438.6864,2475.0284
1487,37900,Russia,6829,All sectors without LULUCF,Emissions (N2O),kilotonnes,NaN,NaN,NaN,NaN,...,2.727996e+02,2.756863e+02,2.787088e+02,2.817564e+02,2.822275e+02,2.917547e+02,3.018546e+02,NaN,105.3639,110.3072
1488,37901,Russia,6829,All sectors without LULUCF,Emissions (CO2),kilotonnes,NaN,NaN,NaN,NaN,...,1.829700e+06,1.818200e+06,1.857200e+06,1.841700e+06,1.913200e+06,1.896300e+06,1.802000e+06,NaN,NaN,NaN

In [191]:
df2.Element.unique()

array(['Emissions (CH4)', 'Emissions (N2O)', 'Emissions (CO2)'],
      dtype=object)

In [192]:
CO2_df = df2.loc[df2["Element"] == 'Emissions (CO2)']

In [193]:
CO2_df.loc[CO2_df['Area']=="Russia"]

,Unnamed: 0,Area,Item Code,Item,Element,Unit,1961,1962,1963,1964,...,2014,2015,2016,2017,2018,2019,2020,2021,2030,2050
1488,37901,Russia,6829,All sectors without LULUCF,Emissions (CO2),kilotonnes,NaN,NaN,NaN,NaN,...,1829700.0,1818200.0,1857200.0,1841700.0,1913200.0,1896300.0,1802000.0,NaN,NaN,NaN

In [194]:
N20_df = df2.loc[df2["Element"] == 'Emissions (N2O)']

In [195]:
N20_df.loc[N20_df['Area']=="Russia"]

,Unnamed: 0,Area,Item Code,Item,Element,Unit,1961,1962,1963,1964,...,2014,2015,2016,2017,2018,2019,2020,2021,2030,2050
1487,37900,Russia,6829,All sectors without LULUCF,Emissions (N2O),kilotonnes,NaN,NaN,NaN,NaN,...,272.7996,275.6863,278.7088,281.7564,282.2275,291.7547,301.8546,NaN,105.3639,110.3072

In [197]:
CH4_df = df2.loc[df2["Element"] == 'Emissions (CH4)']

In [198]:
CH4_df.loc[CH4_df['Area']=="Russia"]

,Unnamed: 0,Area,Item Code,Item,Element,Unit,1961,1962,1963,1964,...,2014,2015,2016,2017,2018,2019,2020,2021,2030,2050
1486,37899,Russia,6829,All sectors without LULUCF,Emissions (CH4),kilotonnes,NaN,NaN,NaN,NaN,...,15167.4192,15315.9159,15479.4103,15950.0433,16260.0492,16427.9558,15864.9887,NaN,2438.6864,2475.0284

In [199]:
CO2_df = CO2_df[["Area","2018"]].copy()
CO2_df.Area.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'The Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belgium-Luxembourg', 'Belize', 'Benin', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cape Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China',
       'Hong Kong S.A.R.', 'Macao S.A.R', 'China, mainland', 'Taiwan',
       'Colombia', 'Comoros', 'Republic of Congo', 'Cook Islands',
       'Costa Rica', 'Ivory Coast', 'Croatia', 'Cuba', 'Cyprus',
       'Czech Republic', 'Czechoslovakia', 'North Korea',
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Swaziland', 'Ethiopia', 'Ethiopia PDR', 'Fiji', 'Finland',
       'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana',
       'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea Bissau',
       'Guyana', 'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland',
       'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'Netherlands Antilles (former)',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'Macedonia', 'Norway', 'Oman', 'Pacific Islands Trust Territory',
       'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'South Korea', 'Moldova', 'Romania', 'Russia', 'Rwanda',
       'Saint Helena, Ascension and Tristan da Cunha',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Republic of Serbia', 'Kosovo', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Somaliland', 'Suriname', 'Sweden', 'Switzerland', 'Syria',
       'Tajikistan', 'Thailand', 'East Timor', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'USSR', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Yemen', 'Yugoslav SFR', 'Zambia', 'Zimbabwe', 'World', 'Africa',
       'Eastern Africa', 'Middle Africa', 'Northern Africa',
       'Southern Africa', 'Western Africa', 'Americas',
       'Northern America', 'Central America', 'Caribbean',
       'South America', 'Asia', 'Central Asia', 'Eastern Asia',
       'Southern Asia', 'South-eastern Asia', 'Western Asia', 'Europe',
       'Eastern Europe', 'Northern Europe', 'Southern Europe',
       'Western Europe', 'Oceania', 'Australia and New Zealand',
       'Melanesia', 'Micronesia', 'Polynesia', 'European Union (27)',
       'Least Developed Countries', 'Land Locked Developing Countries',
       'Small Island Developing States',
       'Low Income Food Deficit Countries',
       'Net Food Importing Developing Countries', 'Annex I countries',
       'Non-Annex I countries', 'OECD'], dtype=object)

In [200]:
CO2_df.loc[CO2_df['Area']=="Russia"]

        Area       2018
1488  Russia  1913200.0

In [201]:
CO2pc_df = CO2_df.merge(pop_df2,on='Area')
CO2pc_df["CO2pc"] = CO2pc_df["2018"]/CO2pc_df["Value"]
CO2pc_df = CO2pc_df[["Area","CO2pc"]]
CO2pc_df.Area.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'The Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'British Virgin Islands', 'Brunei', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cape Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Hong Kong S.A.R.', 'Macao S.A.R', 'China, mainland', 'Taiwan',
       'Colombia', 'Comoros', 'Republic of Congo', 'Cook Islands',
       'Costa Rica', 'Ivory Coast', 'Croatia', 'Cuba', 'Cyprus',
       'Czech Republic', 'North Korea',
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Swaziland', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea Bissau', 'Guyana', 'Haiti',
       'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'South Korea', 'Moldova', 'Romania', 'Russia', 'Rwanda',
       'Saint Helena, Ascension and Tristan da Cunha',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Republic of Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Tajikistan',
       'Thailand', 'East Timor', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United Republic of Tanzania',
       'United States of America', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [202]:
CO2pc_df.loc[CO2pc_df['Area']=="Russia"]

       Area      CO2pc
152  Russia  13.135392

In [203]:
CO2pc_df.to_csv("../data/CO2pc_DF.csv")

In [172]:
N20_df

                   Area     2018
6           Afghanistan  15.9129
14              Albania   3.7917
22              Algeria  28.6340
30       American Samoa   0.0000
37              Andorra   0.0329
...                 ...      ...
1958  Wallis and Futuna   0.0000
1965     Western Sahara   0.0000
1972              Yemen  15.7108
1989             Zambia  43.2089
1997           Zimbabwe  18.8066

[223 rows x 2 columns]

In [204]:
N20pc_df = N20_df[["Area","2018"]].copy()
N20pc_df = N20pc_df.merge(pop_df2,on='Area')
N20pc_df["N20pc"] = N20pc_df["2018"]/N20pc_df["Value"]
N20pc_df = N20pc_df[["Area","N20pc"]]
print(N20pc_df)

                  Area     N20pc
0          Afghanistan  0.000434
1              Albania  0.001318
2              Algeria  0.000683
3       American Samoa  0.000000
4              Andorra  0.000439
..                 ...       ...
225  Wallis and Futuna  0.000000
226     Western Sahara  0.000000
227              Yemen  0.000510
228             Zambia  0.002423
229           Zimbabwe  0.001249

[230 rows x 2 columns]

In [206]:
N20pc_df.loc[N20pc_df['Area']=="Russia"]

       Area     N20pc
172  Russia  0.001938

In [207]:
N20pc_df.to_csv("../data/N20pc_df.csv")

In [208]:
CH4_df = CH4_df[["Area","2018"]].copy()
CH4pc_df = CH4_df.merge(pop_df2,on='Area')
CH4pc_df["CH4pc"] = CH4pc_df["2018"]/CH4pc_df["Value"]
CH4pc_df = CH4pc_df[["Area","CH4pc"]]
print(CH4pc_df)

                  Area     CH4pc
0          Afghanistan  0.017330
1              Albania  0.037862
2              Algeria  0.078202
3       American Samoa  0.000000
4              Andorra  0.016349
..                 ...       ...
225  Wallis and Futuna  0.000000
226     Western Sahara  0.000000
227              Yemen  0.014860
228             Zambia  0.039073
229           Zimbabwe  0.031250

[230 rows x 2 columns]

In [209]:
CH4pc_df.loc[CH4pc_df['Area']=="Russia"]

       Area     CH4pc
172  Russia  0.111636

In [210]:
CH4pc_df.to_csv("../data/CH4pc_df.csv")

In [211]:
EMpc_df = CO2pc_df.merge(N20pc_df,on='Area').merge(CH4pc_df,on='Area')
print(EMpc_df)

            Area     CO2pc     N20pc     CH4pc
0    Afghanistan  0.236761  0.000434  0.017330
1        Albania  1.863978  0.001318  0.037862
2        Algeria  4.324232  0.000683  0.078202
3        Andorra  6.340101  0.000439  0.016349
4         Angola  0.854077  0.001852  0.067668
..           ...       ...       ...       ...
200    Venezuela  3.979021  0.001404  0.080512
201      Vietnam  2.582805  0.000935  0.039410
202        Yemen  0.549195  0.000510  0.014860
203       Zambia  0.390224  0.002423  0.039073
204     Zimbabwe  0.755439  0.001249  0.031250

[205 rows x 4 columns]

In [212]:
EMpc_df.loc[EMpc_df['Area']=="Russia"]

       Area      CO2pc     N20pc     CH4pc
152  Russia  13.135392  0.001938  0.111636

In [213]:
EMpc_df = EMpc_df.set_index("Area")

In [214]:
norm_EMpc_df=(EMpc_df-EMpc_df.mean())/EMpc_df.std()
norm_EMpc_df

                CO2pc     N20pc     CH4pc
Area
Afghanistan -0.779105 -0.619162 -0.468283
Albania     -0.497791 -0.173601 -0.274412
Algeria     -0.072461 -0.493585  0.106479
Andorra      0.276043 -0.616723 -0.477543
Angola      -0.672383  0.095440  0.007014
...               ...       ...       ...
Venezuela   -0.132142 -0.130022  0.128289
Vietnam     -0.373520 -0.366606 -0.259803
Yemen       -0.725091 -0.580613 -0.491601
Zambia      -0.752574  0.383063 -0.262981
Zimbabwe    -0.689436 -0.208121 -0.336844

[205 rows x 3 columns]

In [215]:
norm_EMpc_df['Total_emissions'] = norm_EMpc_df["CO2pc"] + norm_EMpc_df["N20pc"] + norm_EMpc_df["CH4pc"]
norm_EMpc_df

                CO2pc     N20pc     CH4pc  Total_emissions
Area
Afghanistan -0.779105 -0.619162 -0.468283        -1.866551
Albania     -0.497791 -0.173601 -0.274412        -0.945804
Algeria     -0.072461 -0.493585  0.106479        -0.459567
Andorra      0.276043 -0.616723 -0.477543        -0.818223
Angola      -0.672383  0.095440  0.007014        -0.569929
...               ...       ...       ...              ...
Venezuela   -0.132142 -0.130022  0.128289        -0.133874
Vietnam     -0.373520 -0.366606 -0.259803        -0.999929
Yemen       -0.725091 -0.580613 -0.491601        -1.797306
Zambia      -0.752574  0.383063 -0.262981        -0.632492
Zimbabwe    -0.689436 -0.208121 -0.336844        -1.234401

[205 rows x 4 columns]

In [219]:
norm_EMpc_df = norm_EMpc_df.rename({"CO2pc":"CO2pc_n","N20pc":"N20pc_n","CH4pc":"CH4pc_n"}, axis=1)
norm_EMpc_df = norm_EMpc_df.reset_index()

In [220]:
norm_EMpc_df.loc[norm_EMpc_df['Area']=="Russia"]

       Area   CO2pc_n   N20pc_n   CH4pc_n  Total_emissions
152  Russia  1.450816  0.138708  0.422166         2.011689

In [221]:
norm_EMpc_df.to_csv("../data/Norm_EMpc_DF.csv")

In [222]:
TOT_EMpc_df = EMpc_df.merge(norm_EMpc_df,on='Area')
TOT_EMpc_df

,Area,CO2pc,N20pc,CH4pc,CO2pc_n,N20pc_n,CH4pc_n,Total_emissions
0,Afghanistan,0.236761,0.000434,0.017330,-0.779105,-0.619162,-0.468283,-1.866551
1,Albania,1.863978,0.001318,0.037862,-0.497791,-0.173601,-0.274412,-0.945804
2,Algeria,4.324232,0.000683,0.078202,-0.072461,-0.493585,0.106479,-0.459567
3,Andorra,6.340101,0.000439,0.016349,0.276043,-0.616723,-0.477543,-0.818223
4,Angola,0.854077,0.001852,0.067668,-0.672383,0.095440,0.007014,-0.569929
...,...,...,...,...,...,...,...,...
200,Venezuela,3.979021,0.001404,0.080512,-0.132142,-0.130022,0.128289,-0.133874
201,Vietnam,2.582805,0.000935,0.039410,-0.373520,-0.366606,-0.259803,-0.999929
202,Yemen,0.549195,0.000510,0.014860,-0.725091,-0.580613,-0.491601,-1.797306
203,Zambia,0.390224,0.002423,0.039073,-0.752574,0.383063,-0.262981,-0.632492
204,Zimbabwe,0.755439,0.001249,0.031250,-0.689436,-0.208121,-0.336844,-1.234401

In [224]:
TOT_EMpc_df.loc[TOT_EMpc_df['Area']=="Russia"]

,Area,CO2pc,N20pc,CH4pc,CO2pc_n,N20pc_n,CH4pc_n,Total_emissions
152,Russia,13.135392,0.001938,0.111636,1.450816,0.138708,0.422166,2.011689

In [185]:
TOT_EMpc_df.to_csv("../data/TOT_EMpc_DF.csv")

In [186]:
TOT_EMpc_df.index.unique()

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Anguilla',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       ...
       'United States of America', 'Uruguay', 'Russia', 'Uzbekistan',
       'Vanuatu', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='Area', length=201)