In [1]:
import pandas as pd

import plotly.graph_objects as go
import plotly.express as px
import plotly.io as pio
from urllib.request import urlopen
import json

In [8]:
temp_df = pd.read_csv("../data/temp_std_clean.csv")

In [10]:
gdp_df = pd.read_csv("../data/gdp_clean.csv")
gdp_df.head()

,Unnamed: 0,Area Code,Area Code (M49),Area,Item Code,Item,Element Code,Element,Unit,1970,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,1,2,'004,Afghanistan,22008,Gross Domestic Product,6110,Value US$,millions,1731.435587,...,17350.694945,19136.499341,19621.802455,19550.702567,18713.048410,18019.558182,18896.352021,18418.848300,18904.490263,19793.262413
1,2,2,'004,Afghanistan,22008,Gross Domestic Product,6119,Value US$ per capita,US$,154.957138,...,576.101770,614.109574,608.058642,585.862673,543.768940,509.271172,520.616409,495.504343,496.940553,508.453722
2,10,2,'004,Afghanistan,22008,Gross Domestic Product,6182,"Annual growth US$, 2015 prices",%,NaN,...,6.762494,9.703175,6.650733,3.073402,-1.418885,1.548655,2.647003,1.189228,3.911603,-1.934778
3,11,2,'004,Afghanistan,22008,Gross Domestic Product,61820,"Annual growth US$ per capita, 2015 prices",%,NaN,...,3.564356,5.927342,3.068592,-0.350263,-4.393673,-1.286765,0.000000,-1.117318,1.506591,-4.081633
4,57,3,'008,Albania,22008,Gross Domestic Product,6110,Value US$,millions,2265.577056,...,12890.873323,12319.779604,12776.280738,13228.240079,11386.924853,11861.356451,13019.729856,15156.439968,15400.237155,14909.619335

In [24]:
GDPpc_df = gdp_df[gdp_df["Element"] == "Value US$ per capita"]

c = list(GDPpc_df.Area.unique())

In [25]:
with open("../data/countries.geojson") as response:
    countries = json.load(response)

In [26]:
jc = []
for feature in countries['features']:
    jc.append(feature['properties']['ADMIN'])

In [28]:
result_c = []

for item in c:
    if item not in jc:
        result_c.append(item)
        
print(result_c)

['Bahamas', 'Bolivia (Plurinational State of)', 'Brunei Darussalam', 'Cabo Verde', 'China, Hong Kong SAR', 'China, Macao SAR', 'China, mainland', 'Congo', "CÃ´te d'Ivoire", 'Czechia', 'Czechoslovakia', "Democratic People's Republic of Korea", 'Eswatini', 'Ethiopia PDR', 'Guinea-Bissau', 'Iran (Islamic Republic of)', "Lao People's Democratic Republic", 'Micronesia (Federated States of)', 'Netherlands Antilles (former)', 'North Macedonia', 'Republic of Korea', 'Republic of Moldova', 'Russian Federation', 'Serbia', 'Sint Maarten (Dutch part)', 'Sudan (former)', 'Syrian Arab Republic', 'Timor-Leste', 'TÃ¼rkiye', 'United Kingdom of Great Britain and Northern Ireland', 'USSR', 'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen Ar Rp', 'Yemen Dem', 'Yugoslav SFR', 'World', 'Africa', 'Eastern Africa', 'Middle Africa', 'Northern Africa', 'Southern Africa', 'Western Africa', 'Americas', 'Northern America', 'Central America', 'Caribbean', 'South America', 'Asia', 'Central Asia', 'Eastern Asia', 'Southern Asia', 'South-eastern Asia', 'Western Asia', 'Europe', 'Eastern Europe', 'Northern Europe', 'Southern Europe', 'Western Europe', 'Oceania', 'Australia and New Zealand', 'Melanesia', 'Micronesia', 'Polynesia', 'European Union (27)', 'Least Developed Countries', 'Land Locked Developing Countries', 'Small Island Developing States', 'Low Income Food Deficit Countries', 'Net Food Importing Developing Countries']

In [29]:
result_jc = []

for item in jc:
    if item not in c:
        result_jc.append(item)
        
print(result_jc)

['Aland', 'American Samoa', 'Antarctica', 'Ashmore and Cartier Islands', 'French Southern and Antarctic Lands', 'The Bahamas', 'Bajo Nuevo Bank (Petrel Is.)', 'Saint Barthelemy', 'Bolivia', 'Brunei', 'Ivory Coast', 'Clipperton Island', 'Cyprus No Mans Area', 'Republic of Congo', 'Cape Verde', 'Coral Sea Islands', 'Northern Cyprus', 'Czech Republic', 'Dhekelia Sovereign Base Area', 'Falkland Islands', 'Faroe Islands', 'Federated States of Micronesia', 'United Kingdom', 'Guernsey', 'Gibraltar', 'Guinea Bissau', 'Guam', 'Hong Kong S.A.R.', 'Heard Island and McDonald Islands', 'Isle of Man', 'Indian Ocean Territories', 'British Indian Ocean Territory', 'Iran', 'Jersey', 'Baykonur Cosmodrome', 'Siachen Glacier', 'South Korea', 'Kosovo', 'Laos', 'Macao S.A.R', 'Saint Martin', 'Moldova', 'Macedonia', 'Northern Mariana Islands', 'Norfolk Island', 'Niue', 'Pitcairn Islands', 'Spratly Islands', 'North Korea', 'Russia', 'Western Sahara', 'Scarborough Reef', 'Serranilla Bank', 'South Georgia and South Sandwich Islands', 'Saint Helena', 'Somaliland', 'Saint Pierre and Miquelon', 'Republic of Serbia', 'Swaziland', 'Sint Maarten', 'Syria', 'East Timor', 'Turkey', 'Taiwan', 'United States Minor Outlying Islands', 'US Naval Base Guantanamo Bay', 'Vatican', 'Venezuela', 'United States Virgin Islands', 'Vietnam', 'Wallis and Futuna', 'Akrotiri Sovereign Base Area']

In [ ]:
countries_dict={
    'Bahamas':'The Bahamas',
    
    
}