In [50]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import plotly.graph_objects as go
import plotly.express as px
import plotly.io as pio
from urllib.request import urlopen
import json

In [2]:
df = pd.read_csv("../data/emissions_clean.csv")
pop_df= pd.read_csv("../data/FAOSTAT_Population.csv")

In [3]:
pop_df = pop_df[["Area","Value"]]

In [4]:
with open("../data/countries.geojson") as response:
    countries = json.load(response)

In [5]:
p = list(pop_df.Area.unique())

In [6]:
c = list(df.Area.unique())

In [7]:
jc = []
for feature in countries['features']:
    jc.append(feature['properties']['ADMIN'])

In [8]:
result_p = []

for item in p:
    if item not in jc:
        result_p.append(item)
        
print(result_p)

['Bahamas', 'Bolivia (Plurinational State of)', 'Bonaire, Sint Eustatius and Saba', 'Brunei Darussalam', 'Cabo Verde', 'China, Hong Kong SAR', 'China, Macao SAR', 'China, mainland', 'China, Taiwan Province of', 'Congo', "Côte d'Ivoire", 'Czechia', "Democratic People's Republic of Korea", 'Eswatini', 'Falkland Islands (Malvinas)', 'French Guyana', 'Guadeloupe', 'Guinea-Bissau', 'Holy See', 'Iran (Islamic Republic of)', "Lao People's Democratic Republic", 'Martinique', 'Mayotte', 'Micronesia (Federated States of)', 'North Macedonia', 'Republic of Korea', 'Republic of Moldova', 'Réunion', 'Russian Federation', 'Saint Barthélemy', 'Saint Helena, Ascension and Tristan da Cunha', 'Saint-Martin (French part)', 'Serbia', 'Sint Maarten (Dutch part)', 'Syrian Arab Republic', 'Timor-Leste', 'Tokelau', 'Türkiye', 'United Kingdom of Great Britain and Northern Ireland', 'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Wallis and Futuna Islands']

In [9]:
result_c = []

for item in c:
    if item not in jc:
        result_c.append(item)
        
print(result_c)

['Bahamas', 'Belgium-Luxembourg', 'Bolivia (Plurinational State of)', 'Brunei Darussalam', 'Cabo Verde', 'Channel Islands', 'China, Hong Kong SAR', 'China, Macao SAR', 'China, mainland', 'China, Taiwan Province of', 'Congo', "Côte d'Ivoire", 'Czechia', 'Czechoslovakia', "Democratic People's Republic of Korea", 'Eswatini', 'Ethiopia PDR', 'Falkland Islands (Malvinas)', 'French Guyana', 'Guadeloupe', 'Guinea-Bissau', 'Holy See', 'Iran (Islamic Republic of)', "Lao People's Democratic Republic", 'Martinique', 'Mayotte', 'Micronesia (Federated States of)', 'Netherlands Antilles (former)', 'North Macedonia', 'Pacific Islands Trust Territory', 'Pitcairn', 'Republic of Korea', 'Republic of Moldova', 'Réunion', 'Russian Federation', 'Saint Helena, Ascension and Tristan da Cunha', 'Serbia', 'Serbia and Montenegro', 'Sudan (former)', 'Svalbard and Jan Mayen Islands', 'Syrian Arab Republic', 'Timor-Leste', 'Tokelau', 'Türkiye', 'United Kingdom of Great Britain and Northern Ireland', 'USSR', 'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Wallis and Futuna Islands', 'Yugoslav SFR', 'World', 'Africa', 'Eastern Africa', 'Middle Africa', 'Northern Africa', 'Southern Africa', 'Western Africa', 'Americas', 'Northern America', 'Central America', 'Caribbean', 'South America', 'Asia', 'Central Asia', 'Eastern Asia', 'Southern Asia', 'South-eastern Asia', 'Western Asia', 'Europe', 'Eastern Europe', 'Northern Europe', 'Southern Europe', 'Western Europe', 'Oceania', 'Australia and New Zealand', 'Melanesia', 'Micronesia', 'Polynesia', 'European Union (27)', 'Least Developed Countries', 'Land Locked Developing Countries', 'Small Island Developing States', 'Low Income Food Deficit Countries', 'Net Food Importing Developing Countries', 'Annex I countries', 'Non-Annex I countries', 'OECD']

In [10]:
result_jc = []

for item in jc:
    if item not in c:
        result_jc.append(item)
        
print(result_jc)

['Aland', 'Antarctica', 'Ashmore and Cartier Islands', 'French Southern and Antarctic Lands', 'The Bahamas', 'Bajo Nuevo Bank (Petrel Is.)', 'Saint Barthelemy', 'Bolivia', 'Brunei', 'Ivory Coast', 'Clipperton Island', 'Cyprus No Mans Area', 'Republic of Congo', 'Cape Verde', 'Coral Sea Islands', 'Curaçao', 'Northern Cyprus', 'Czech Republic', 'Dhekelia Sovereign Base Area', 'Falkland Islands', 'Federated States of Micronesia', 'United Kingdom', 'Guernsey', 'Guinea Bissau', 'Hong Kong S.A.R.', 'Heard Island and McDonald Islands', 'Indian Ocean Territories', 'British Indian Ocean Territory', 'Iran', 'Jersey', 'Baykonur Cosmodrome', 'Siachen Glacier', 'South Korea', 'Kosovo', 'Laos', 'Macao S.A.R', 'Saint Martin', 'Moldova', 'Macedonia', 'Pitcairn Islands', 'Spratly Islands', 'North Korea', 'Russia', 'Scarborough Reef', 'Serranilla Bank', 'South Georgia and South Sandwich Islands', 'Saint Helena', 'Somaliland', 'Republic of Serbia', 'Swaziland', 'Sint Maarten', 'Syria', 'East Timor', 'Turkey', 'Taiwan', 'United States Minor Outlying Islands', 'US Naval Base Guantanamo Bay', 'Vatican', 'Venezuela', 'Vietnam', 'Wallis and Futuna', 'Akrotiri Sovereign Base Area']

In [11]:
countries_dict = {
    'Bahamas' : 'The Bahamas',
    'Bolivia (Plurinational State of)':'Bolivia',
    'Brunei Darussalam':'Brunei',
    'Cabo Verde':'Cape Verde',
    'China, Hong Kong SAR':'Hong Kong S.A.R.',
    'China, Macao SAR':'Macao S.A.R',
    'China, Taiwan Province of':'Taiwan',
    'Congo':'Republic of Congo',
    "Côte d'Ivoire":'Ivory Coast',
    'Czechia':'Czech Republic',
    "Democratic People's Republic of Korea":'North Korea',
    'Eswatini':'Swaziland',
    'Republic of Korea':'South Korea',
    'Falkland Islands (Malvinas)':'Falkland Islands',
    'Guinea-Bissau':'Guinea Bissau',
    'Iran (Islamic Republic of)':'Iran',
    "Lao People's Democratic Republic":'Laos',
    'North Macedonia':'Macedonia',
    'Republic of Moldova':'Moldova',
    'Serbia':'Republic of Serbia',
    'Serbia and Montenegro':'Kosovo',
    'South Georgia and the South Sandwich Islands':'South Georgia and South Sandwich Islands',
    'Sudan (former)':'Somaliland',
    'Syrian Arab Republic':'Syria',
    'Timor-Leste':'East Timor',
    'Türkiye':'Turkey',
    'United Kingdom of Great Britain and Northern Ireland':'United Kingdom',
    'Russian Federation':'Russia',
    'Venezuela (Bolivarian Republic of)':'Venezuela',
    'Viet Nam':'Vietnam',
    'Wallis and Futuna Islands':'Wallis and Futuna',    
}

In [12]:
pop_df2 = pop_df.copy()
pop_df2.Area = pop_df2.Area.replace(countries_dict)

In [13]:
df2 = df.copy()
df2.Area = df2.Area.replace(countries_dict)

In [14]:
p2 = list(pop_df2.Area.unique())

In [15]:
result_p2 = []

for item in p2:
    if item not in jc:
        result_p2.append(item)
        
print(result_p2)

['Bonaire, Sint Eustatius and Saba', 'China, mainland', 'French Guyana', 'Guadeloupe', 'Holy See', 'Martinique', 'Mayotte', 'Micronesia (Federated States of)', 'Réunion', 'Saint Barthélemy', 'Saint Helena, Ascension and Tristan da Cunha', 'Saint-Martin (French part)', 'Sint Maarten (Dutch part)', 'Tokelau']

In [16]:
result_jc = []

for item in jc:
    if item not in c:
        result_jc.append(item)
        
print(result_jc)

['Aland', 'Antarctica', 'Ashmore and Cartier Islands', 'French Southern and Antarctic Lands', 'The Bahamas', 'Bajo Nuevo Bank (Petrel Is.)', 'Saint Barthelemy', 'Bolivia', 'Brunei', 'Ivory Coast', 'Clipperton Island', 'Cyprus No Mans Area', 'Republic of Congo', 'Cape Verde', 'Coral Sea Islands', 'Curaçao', 'Northern Cyprus', 'Czech Republic', 'Dhekelia Sovereign Base Area', 'Falkland Islands', 'Federated States of Micronesia', 'United Kingdom', 'Guernsey', 'Guinea Bissau', 'Hong Kong S.A.R.', 'Heard Island and McDonald Islands', 'Indian Ocean Territories', 'British Indian Ocean Territory', 'Iran', 'Jersey', 'Baykonur Cosmodrome', 'Siachen Glacier', 'South Korea', 'Kosovo', 'Laos', 'Macao S.A.R', 'Saint Martin', 'Moldova', 'Macedonia', 'Pitcairn Islands', 'Spratly Islands', 'North Korea', 'Russia', 'Scarborough Reef', 'Serranilla Bank', 'South Georgia and South Sandwich Islands', 'Saint Helena', 'Somaliland', 'Republic of Serbia', 'Swaziland', 'Sint Maarten', 'Syria', 'East Timor', 'Turkey', 'Taiwan', 'United States Minor Outlying Islands', 'US Naval Base Guantanamo Bay', 'Vatican', 'Venezuela', 'Vietnam', 'Wallis and Futuna', 'Akrotiri Sovereign Base Area']

In [17]:
drop_list=['Belgium-Luxembourg', 'Channel Islands', 'China, mainland', 'Czechoslovakia', 'Ethiopia PDR', 'French Guyana', 'Guadeloupe', 'Holy See', 'Martinique', 'Mayotte', 'Micronesia (Federated States of)', 'Netherlands Antilles (former)', 'Pacific Islands Trust Territory', 'Pitcairn', 'Réunion', 'Russian Federation', 'Saint Helena, Ascension and Tristan da Cunha', 'Svalbard and Jan Mayen Islands', 'Tokelau', 'Yugoslav SFR', 'World', 'Africa', 'Eastern Africa', 'Middle Africa', 'Northern Africa', 'Southern Africa', 'Western Africa', 'Americas', 'Northern America', 'Central America', 'Caribbean', 'South America', 'Asia', 'Central Asia', 'Eastern Asia', 'Southern Asia', 'South-eastern Asia', 'Western Asia', 'Europe', 'Eastern Europe', 'Northern Europe', 'Southern Europe', 'Western Europe', 'Oceania', 'Australia and New Zealand', 'Melanesia', 'Micronesia', 'Polynesia', 'European Union (27)', 'Least Developed Countries', 'Land Locked Developing Countries', 'Small Island Developing States', 'Low Income Food Deficit Countries', 'Net Food Importing Developing Countries', 'Annex I countries', 'Non-Annex I countries', 'OECD']

In [18]:
df2 = df2[~df2['Area'].isin(drop_list)]
df2.head()

,Unnamed: 0,Area,Item Code,Item,Element,Unit,1961,1962,1963,1964,...,2014,2015,2016,2017,2018,2019,2020,2021,2030,2050
0,59,Afghanistan,6751,Forestland,Emissions (CO2),kilotonnes,NaN,NaN,NaN,NaN,...,-246.2191,-246.2191,154.6574,154.6574,154.6574,154.6574,154.6574,NaN,NaN,NaN
1,61,Afghanistan,6750,Net Forest conversion,Emissions (CO2),kilotonnes,NaN,NaN,NaN,NaN,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,NaN,NaN,NaN
2,212,Afghanistan,6825,All sectors with LULUCF,Emissions (CH4),kilotonnes,NaN,NaN,NaN,NaN,...,663.5479,634.5774,629.3893,624.3983,635.7765,638.0114,662.7644,NaN,516.8208,683.7073
3,213,Afghanistan,6825,All sectors with LULUCF,Emissions (N2O),kilotonnes,NaN,NaN,NaN,NaN,...,17.3372,17.2410,17.0810,17.9014,15.9129,15.9893,16.7350,NaN,18.5334,25.7772
4,214,Afghanistan,6825,All sectors with LULUCF,Emissions (CO2),kilotonnes,NaN,NaN,NaN,NaN,...,7853.7809,7937.7809,7194.6574,8355.6574,8840.6574,9630.6574,9592.6574,NaN,NaN,NaN

In [19]:
df2.loc[df2['Area']=="Russia"]

,Unnamed: 0,Area,Item Code,Item,Element,Unit,1961,1962,1963,1964,...,2014,2015,2016,2017,2018,2019,2020,2021,2030,2050
1479,37723,Russia,6751,Forestland,Emissions (CO2),kilotonnes,NaN,NaN,NaN,NaN,...,-7.311092e+05,-7.311092e+05,-6.222117e+05,-6.222117e+05,-6.222117e+05,-6.222117e+05,-6.222117e+05,NaN,NaN,NaN
1480,37724,Russia,6751,Forestland,Emissions (CO2),kilotonnes,NaN,NaN,NaN,NaN,...,-8.451650e+05,-8.390716e+05,-8.239425e+05,-8.099242e+05,-7.982900e+05,-7.849816e+05,-7.729378e+05,NaN,NaN,NaN
1481,37727,Russia,6750,Net Forest conversion,Emissions (CO2),kilotonnes,NaN,NaN,NaN,NaN,...,1.518510e+04,1.518510e+04,3.453395e+04,3.453395e+04,3.453395e+04,3.453395e+04,3.453395e+04,NaN,NaN,NaN
1482,37728,Russia,6750,Net Forest conversion,Emissions (CO2),kilotonnes,NaN,NaN,NaN,NaN,...,5.401694e+03,1.427002e+04,4.465453e+03,4.979429e+03,4.947137e+03,1.248225e+04,2.204770e+03,NaN,NaN,NaN
1483,37892,Russia,6825,All sectors with LULUCF,Emissions (CH4),kilotonnes,NaN,NaN,NaN,NaN,...,1.530239e+04,1.537388e+04,1.561713e+04,1.602789e+04,1.639753e+04,1.654052e+04,1.592888e+04,NaN,2438.6864,2475.0284
1484,37893,Russia,6825,All sectors with LULUCF,Emissions (N2O),kilotonnes,NaN,NaN,NaN,NaN,...,2.851232e+02,2.809784e+02,2.912832e+02,2.888644e+02,2.947797e+02,3.020326e+02,3.076886e+02,NaN,105.3639,110.3072
1485,37894,Russia,6825,All sectors with LULUCF,Emissions (CO2),kilotonnes,NaN,NaN,NaN,NaN,...,1.164902e+06,1.153434e+06,1.321025e+06,1.305616e+06,1.377725e+06,1.361220e+06,1.267162e+06,NaN,NaN,NaN
1486,37899,Russia,6829,All sectors without LULUCF,Emissions (CH4),kilotonnes,NaN,NaN,NaN,NaN,...,1.516742e+04,1.531592e+04,1.547941e+04,1.595004e+04,1.626005e+04,1.642796e+04,1.586499e+04,NaN,2438.6864,2475.0284
1487,37900,Russia,6829,All sectors without LULUCF,Emissions (N2O),kilotonnes,NaN,NaN,NaN,NaN,...,2.727996e+02,2.756863e+02,2.787088e+02,2.817564e+02,2.822275e+02,2.917547e+02,3.018546e+02,NaN,105.3639,110.3072
1488,37901,Russia,6829,All sectors without LULUCF,Emissions (CO2),kilotonnes,NaN,NaN,NaN,NaN,...,1.829700e+06,1.818200e+06,1.857200e+06,1.841700e+06,1.913200e+06,1.896300e+06,1.802000e+06,NaN,NaN,NaN

In [20]:
df2.Item.unique()

array(['Forestland', 'Net Forest conversion', 'All sectors with LULUCF',
       'All sectors without LULUCF'], dtype=object)

In [21]:
df2.drop(df2[df2['Item'] != 'All sectors without LULUCF'].index, inplace = True)
df2.Area.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'The Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cape Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Hong Kong S.A.R.', 'Macao S.A.R', 'Taiwan', 'Colombia',
       'Comoros', 'Republic of Congo', 'Cook Islands', 'Costa Rica',
       'Ivory Coast', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic',
       'North Korea', 'Democratic Republic of the Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Swaziland', 'Ethiopia', 'Falkland Islands', 'Faroe Islands',
       'Fiji', 'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Grenada', 'Guam', 'Guatemala', 'Guinea', 'Guinea Bissau',
       'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Isle of Man', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Norfolk Island', 'Macedonia',
       'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'South Korea', 'Moldova', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Republic of Serbia', 'Kosovo', 'Seychelles',
       'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Somaliland', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Tajikistan', 'Thailand', 'East Timor',
       'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United Republic of Tanzania', 'United States of America',
       'United States Virgin Islands', 'Uruguay', 'USSR', 'Uzbekistan',
       'Vanuatu', 'Venezuela', 'Vietnam', 'Wallis and Futuna',
       'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [22]:
df2.loc[df2['Area']=="Russia"]

,Unnamed: 0,Area,Item Code,Item,Element,Unit,1961,1962,1963,1964,...,2014,2015,2016,2017,2018,2019,2020,2021,2030,2050
1486,37899,Russia,6829,All sectors without LULUCF,Emissions (CH4),kilotonnes,NaN,NaN,NaN,NaN,...,1.516742e+04,1.531592e+04,1.547941e+04,1.595004e+04,1.626005e+04,1.642796e+04,1.586499e+04,NaN,2438.6864,2475.0284
1487,37900,Russia,6829,All sectors without LULUCF,Emissions (N2O),kilotonnes,NaN,NaN,NaN,NaN,...,2.727996e+02,2.756863e+02,2.787088e+02,2.817564e+02,2.822275e+02,2.917547e+02,3.018546e+02,NaN,105.3639,110.3072
1488,37901,Russia,6829,All sectors without LULUCF,Emissions (CO2),kilotonnes,NaN,NaN,NaN,NaN,...,1.829700e+06,1.818200e+06,1.857200e+06,1.841700e+06,1.913200e+06,1.896300e+06,1.802000e+06,NaN,NaN,NaN

In [23]:
df2.Element.unique()

array(['Emissions (CH4)', 'Emissions (N2O)', 'Emissions (CO2)'],
      dtype=object)

In [24]:
CO2_df = df2.loc[df2["Element"] == 'Emissions (CO2)']

In [25]:
CO2_df.loc[CO2_df['Area']=="Russia"]

,Unnamed: 0,Area,Item Code,Item,Element,Unit,1961,1962,1963,1964,...,2014,2015,2016,2017,2018,2019,2020,2021,2030,2050
1488,37901,Russia,6829,All sectors without LULUCF,Emissions (CO2),kilotonnes,NaN,NaN,NaN,NaN,...,1829700.0,1818200.0,1857200.0,1841700.0,1913200.0,1896300.0,1802000.0,NaN,NaN,NaN

In [26]:
N20_df = df2.loc[df2["Element"] == 'Emissions (N2O)']

In [27]:
N20_df.loc[N20_df['Area']=="Russia"]

,Unnamed: 0,Area,Item Code,Item,Element,Unit,1961,1962,1963,1964,...,2014,2015,2016,2017,2018,2019,2020,2021,2030,2050
1487,37900,Russia,6829,All sectors without LULUCF,Emissions (N2O),kilotonnes,NaN,NaN,NaN,NaN,...,272.7996,275.6863,278.7088,281.7564,282.2275,291.7547,301.8546,NaN,105.3639,110.3072

In [28]:
CH4_df = df2.loc[df2["Element"] == 'Emissions (CH4)']

In [29]:
CH4_df.loc[CH4_df['Area']=="Russia"]

,Unnamed: 0,Area,Item Code,Item,Element,Unit,1961,1962,1963,1964,...,2014,2015,2016,2017,2018,2019,2020,2021,2030,2050
1486,37899,Russia,6829,All sectors without LULUCF,Emissions (CH4),kilotonnes,NaN,NaN,NaN,NaN,...,15167.4192,15315.9159,15479.4103,15950.0433,16260.0492,16427.9558,15864.9887,NaN,2438.6864,2475.0284

In [30]:
CO2_df = CO2_df[["Area","2018"]].copy()
CO2_df.Area.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'The Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'British Virgin Islands', 'Brunei', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cape Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Hong Kong S.A.R.', 'Macao S.A.R', 'Taiwan', 'Colombia', 'Comoros',
       'Republic of Congo', 'Cook Islands', 'Costa Rica', 'Ivory Coast',
       'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'North Korea',
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Swaziland', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'South Korea', 'Moldova', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Republic of Serbia', 'Kosovo', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Somaliland', 'Suriname', 'Sweden', 'Switzerland', 'Syria',
       'Tajikistan', 'Thailand', 'East Timor', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'USSR', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [31]:
CO2_df.loc[CO2_df['Area']=="Russia"]

        Area       2018
1488  Russia  1913200.0

In [32]:
CO2pc_df = CO2_df.merge(pop_df2,on='Area')
CO2pc_df["CO2pc"] = CO2pc_df["2018"]/CO2pc_df["Value"]
CO2pc_df = CO2pc_df[["Area","CO2pc"]]
CO2pc_df.Area.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'The Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'British Virgin Islands', 'Brunei', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cape Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Hong Kong S.A.R.', 'Macao S.A.R', 'Taiwan', 'Colombia', 'Comoros',
       'Republic of Congo', 'Cook Islands', 'Costa Rica', 'Ivory Coast',
       'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'North Korea',
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Swaziland', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'South Korea', 'Moldova', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Republic of Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Tajikistan',
       'Thailand', 'East Timor', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United Republic of Tanzania',
       'United States of America', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [33]:
CO2pc_df.loc[CO2pc_df['Area']=="Russia"]

       Area      CO2pc
149  Russia  13.135392

In [34]:
CO2pc_df.to_csv("../data/CO2pc_DF.csv")

In [35]:
N20_df

,Unnamed: 0,Area,Item Code,Item,Element,Unit,1961,1962,1963,1964,...,2014,2015,2016,2017,2018,2019,2020,2021,2030,2050
6,219,Afghanistan,6829,All sectors without LULUCF,Emissions (N2O),kilotonnes,NaN,NaN,NaN,NaN,...,17.3372,17.2410,17.0810,17.9014,15.9129,15.9893,16.7350,NaN,18.5334,25.7772
14,457,Albania,6829,All sectors without LULUCF,Emissions (N2O),kilotonnes,NaN,NaN,NaN,NaN,...,4.0313,4.1634,4.2654,4.1713,3.7917,3.8674,3.5566,NaN,3.6235,3.6937
22,692,Algeria,6829,All sectors without LULUCF,Emissions (N2O),kilotonnes,NaN,NaN,NaN,NaN,...,28.0555,28.5876,28.3183,28.1854,28.6340,29.7585,30.1670,NaN,17.8671,22.3317
30,795,American Samoa,6829,All sectors without LULUCF,Emissions (N2O),kilotonnes,NaN,NaN,NaN,NaN,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,NaN,NaN,NaN
37,926,Andorra,6829,All sectors without LULUCF,Emissions (N2O),kilotonnes,NaN,NaN,NaN,NaN,...,0.0346,0.0344,0.0335,0.0333,0.0329,0.0302,0.0290,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1958,49695,Wallis and Futuna,6829,All sectors without LULUCF,Emissions (N2O),kilotonnes,NaN,NaN,NaN,NaN,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,NaN,NaN,NaN
1965,49800,Western Sahara,6829,All sectors without LULUCF,Emissions (N2O),kilotonnes,NaN,NaN,NaN,NaN,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,NaN,NaN,NaN
1972,50020,Yemen,6829,All sectors without LULUCF,Emissions (N2O),kilotonnes,NaN,NaN,NaN,NaN,...,17.5756,16.3855,16.4409,16.3509,15.7108,17.0863,16.8313,NaN,12.9184,17.7386
1989,50431,Zambia,6829,All sectors without LULUCF,Emissions (N2O),kilotonnes,NaN,NaN,NaN,NaN,...,45.5188,46.7682,46.2762,44.2863,43.2089,45.0799,44.2731,NaN,11.4047,17.6067
1997,50658,Zimbabwe,6829,All sectors without LULUCF,Emissions (N2O),kilotonnes,NaN,NaN,NaN,NaN,...,17.7536,19.3630,17.8805,18.5792,18.8066,18.8211,17.2235,NaN,19.3241,26.5544

In [36]:
N20pc_df = N20_df[["Area","2018"]].copy()
N20pc_df = N20pc_df.merge(pop_df2,on='Area')
N20pc_df["N20pc"] = N20pc_df["2018"]/N20pc_df["Value"]
N20pc_df = N20pc_df[["Area","N20pc"]]
print(N20pc_df)

                  Area     N20pc
0          Afghanistan  0.000434
1              Albania  0.001318
2              Algeria  0.000683
3       American Samoa  0.000000
4              Andorra  0.000439
..                 ...       ...
215  Wallis and Futuna  0.000000
216     Western Sahara  0.000000
217              Yemen  0.000510
218             Zambia  0.002423
219           Zimbabwe  0.001249

[220 rows x 2 columns]

In [37]:
N20pc_df.loc[N20pc_df['Area']=="Russia"]

       Area     N20pc
164  Russia  0.001938

In [38]:
N20pc_df.to_csv("../data/N20pc_df.csv")

In [39]:
CH4_df = CH4_df[["Area","2018"]].copy()
CH4pc_df = CH4_df.merge(pop_df2,on='Area')
CH4pc_df["CH4pc"] = CH4pc_df["2018"]/CH4pc_df["Value"]
CH4pc_df = CH4pc_df[["Area","CH4pc"]]
print(CH4pc_df)

                  Area     CH4pc
0          Afghanistan  0.017330
1              Albania  0.037862
2              Algeria  0.078202
3       American Samoa  0.000000
4              Andorra  0.016349
..                 ...       ...
215  Wallis and Futuna  0.000000
216     Western Sahara  0.000000
217              Yemen  0.014860
218             Zambia  0.039073
219           Zimbabwe  0.031250

[220 rows x 2 columns]

In [40]:
CH4pc_df.loc[CH4pc_df['Area']=="Russia"]

       Area     CH4pc
164  Russia  0.111636

In [41]:
CH4pc_df.to_csv("../data/CH4pc_df.csv")

In [42]:
EMpc_df = CO2pc_df.merge(N20pc_df,on='Area').merge(CH4pc_df,on='Area')
print(EMpc_df)

            Area     CO2pc     N20pc     CH4pc
0    Afghanistan  0.236761  0.000434  0.017330
1        Albania  1.863978  0.001318  0.037862
2        Algeria  4.324232  0.000683  0.078202
3        Andorra  6.340101  0.000439  0.016349
4         Angola  0.854077  0.001852  0.067668
..           ...       ...       ...       ...
196    Venezuela  3.979021  0.001404  0.080512
197      Vietnam  2.582805  0.000935  0.039410
198        Yemen  0.549195  0.000510  0.014860
199       Zambia  0.390224  0.002423  0.039073
200     Zimbabwe  0.755439  0.001249  0.031250

[201 rows x 4 columns]

In [43]:
EMpc_df.loc[EMpc_df['Area']=="Russia"]

       Area      CO2pc     N20pc     CH4pc
149  Russia  13.135392  0.001938  0.111636

In [44]:
EMpc_df = EMpc_df.set_index("Area")

In [60]:
norm_EMpc_df = EMpc_df.copy()

In [61]:
c = ['CO2pc','N20pc','CH4pc']
for i in c:
    norm_EMpc_df[i] = MinMaxScaler().fit_transform(np.array(norm_EMpc_df[i]).reshape(-1,1))

In [62]:
norm_EMpc_df

                CO2pc     N20pc     CH4pc
Area
Afghanistan  0.004780  0.022095  0.010505
Albania      0.044591  0.081592  0.029689
Algeria      0.104783  0.038864  0.067380
Andorra      0.154103  0.022421  0.009589
Angola       0.019883  0.117517  0.057537
...               ...       ...       ...
Venezuela    0.096337  0.087411  0.069538
Vietnam      0.062177  0.055819  0.031135
Yemen        0.012423  0.027243  0.008198
Zambia       0.008534  0.155924  0.030820
Zimbabwe     0.017469  0.076982  0.023511

[201 rows x 3 columns]

In [63]:
norm_EMpc_df['Total_n_emissions'] = norm_EMpc_df["CO2pc"] + norm_EMpc_df["N20pc"] + norm_EMpc_df["CH4pc"]
norm_EMpc_df

                CO2pc     N20pc     CH4pc  Total_n_emissions
Area
Afghanistan  0.004780  0.022095  0.010505           0.037380
Albania      0.044591  0.081592  0.029689           0.155872
Algeria      0.104783  0.038864  0.067380           0.211026
Andorra      0.154103  0.022421  0.009589           0.186113
Angola       0.019883  0.117517  0.057537           0.194937
...               ...       ...       ...                ...
Venezuela    0.096337  0.087411  0.069538           0.253286
Vietnam      0.062177  0.055819  0.031135           0.149132
Yemen        0.012423  0.027243  0.008198           0.047864
Zambia       0.008534  0.155924  0.030820           0.195278
Zimbabwe     0.017469  0.076982  0.023511           0.117963

[201 rows x 4 columns]

In [64]:
norm_EMpc_df = norm_EMpc_df.rename({"CO2pc":"CO2pc_n","N20pc":"N20pc_n","CH4pc":"CH4pc_n"}, axis=1)
norm_EMpc_df = norm_EMpc_df.reset_index()

In [65]:
norm_EMpc_df.loc[norm_EMpc_df['Area']=="Russia"]

       Area   CO2pc_n   N20pc_n   CH4pc_n  Total_n_emissions
149  Russia  0.320355  0.123295  0.098618           0.542268

In [66]:
norm_EMpc_df.to_csv("../data/Norm_EMpc_DF.csv")

In [67]:
TOT_EMpc_df = EMpc_df.merge(norm_EMpc_df,on='Area')
TOT_EMpc_df

,Area,CO2pc,N20pc,CH4pc,CO2pc_n,N20pc_n,CH4pc_n,Total_n_emissions
0,Afghanistan,0.236761,0.000434,0.017330,0.004780,0.022095,0.010505,0.037380
1,Albania,1.863978,0.001318,0.037862,0.044591,0.081592,0.029689,0.155872
2,Algeria,4.324232,0.000683,0.078202,0.104783,0.038864,0.067380,0.211026
3,Andorra,6.340101,0.000439,0.016349,0.154103,0.022421,0.009589,0.186113
4,Angola,0.854077,0.001852,0.067668,0.019883,0.117517,0.057537,0.194937
...,...,...,...,...,...,...,...,...
196,Venezuela,3.979021,0.001404,0.080512,0.096337,0.087411,0.069538,0.253286
197,Vietnam,2.582805,0.000935,0.039410,0.062177,0.055819,0.031135,0.149132
198,Yemen,0.549195,0.000510,0.014860,0.012423,0.027243,0.008198,0.047864
199,Zambia,0.390224,0.002423,0.039073,0.008534,0.155924,0.030820,0.195278
200,Zimbabwe,0.755439,0.001249,0.031250,0.017469,0.076982,0.023511,0.117963

In [68]:
TOT_EMpc_df.loc[TOT_EMpc_df['Area']=="Russia"]

,Area,CO2pc,N20pc,CH4pc,CO2pc_n,N20pc_n,CH4pc_n,Total_n_emissions
149,Russia,13.135392,0.001938,0.111636,0.320355,0.123295,0.098618,0.542268

In [69]:
TOT_EMpc_df.to_csv("../data/TOT_EMpc_DF.csv")

In [70]:
TOT_EMpc_df.index.unique()

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            191, 192, 193, 194, 195, 196, 197, 198, 199, 200],
           dtype='int64', length=201)