In [5]:
import pandas as pd
df = pd.read_csv('../data/FAOSTAT_temperature.csv')
df+

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Months Code,Months,Year Code,Year,Unit,Value,Flag,Flag Description
0,ET,Temperature change,4,Afghanistan,7271,Temperature change,7020,Meteorological year,1961,1961,°C,-0.105,E,Estimated value
1,ET,Temperature change,4,Afghanistan,7271,Temperature change,7020,Meteorological year,1962,1962,°C,-0.157,E,Estimated value
2,ET,Temperature change,4,Afghanistan,7271,Temperature change,7020,Meteorological year,1963,1963,°C,0.852,E,Estimated value
3,ET,Temperature change,4,Afghanistan,7271,Temperature change,7020,Meteorological year,1964,1964,°C,-0.743,E,Estimated value
4,ET,Temperature change,4,Afghanistan,7271,Temperature change,7020,Meteorological year,1965,1965,°C,-0.211,E,Estimated value
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27523,ET,Temperature change,716,Zimbabwe,6078,Standard Deviation,7020,Meteorological year,2017,2017,°C,0.312,E,Estimated value
27524,ET,Temperature change,716,Zimbabwe,6078,Standard Deviation,7020,Meteorological year,2018,2018,°C,0.312,E,Estimated value
27525,ET,Temperature change,716,Zimbabwe,6078,Standard Deviation,7020,Meteorological year,2019,2019,°C,0.312,E,Estimated value
27526,ET,Temperature change,716,Zimbabwe,6078,Standard Deviation,7020,Meteorological year,2020,2020,°C,0.312,E,Estimated value
27527,ET,Temperature change,716,Zimbabwe,6078,Standard Deviation,7020,Meteorological year,2021,2021,°C,0.312,E,Estimated value